{% extends 'base.html' %}
{% load materializecss %}
{% block title %}Your Shared Items | LinkShare{% endblock %}

{% block content %}

<h2>Shared content</h2>
<div class="col m12">
    {% for user in share_users %}
    <div class="chip">
      <img src="/{{ MEDIA_URL }}{{ user.icon }}" alt="Contact Person">
      {{ user.user.username }}
    </div>
    {% endfor %}
</div>

<div class="col s12 m6">
  <a href="#share-modal"  data-target="modal1" class="waves-effect waves-light btn modal-trigger">Share new item</a>
  <a href="{% url 'spaces-update' space.id %}" class="waves-effect waves-light btn">Edit this space</a>
</div>

{% for shared_item in object_list %}
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        {% if shared_item.image_file %}
          <img src="/{{ MEDIA_URL }}{{ shared_item.image_file }}">
        {% else %}
          <img src="http://materializecss.com/images/sample-1.jpg">
        {% endif %}
        <span class="card-title">{{ shared_item.text }}</span>
      </div>
      <div class="card-content">
        <p>{{ shared_item.url }}</p>
      </div>
      <div class="card-action">
        <a href="{{ shared_item.url }}">Visit Shared Item</a>
        <a href="{% url 'shared-item-detail' shared_item.space.id shared_item.pk %}">Leave a Comment</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<ul class="pagination">
  {% for page in page_obj.paginator.page_range %}
  <li class="waves-effect {% if page == page_obj.number %} active {% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
  {% endfor %}
</ul>


<!-- Modal Structure -->
<div id="share-modal" class="modal">
  <div class="modal-content">
    <h4>Share New Item</h4>
    <form action="{% url 'shareditem-add' space.id %}" method="post">{% csrf_token %}
        {{ form|materializecss }}
    <input type="submit" value="Save" class="btn waves-effect waves-light" />
  </form>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>

{% endblock %}
