{% extends 'head.html' %}
{% block base %}
<body>
  <nav class="blue lighten-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">LinkShare</a>
      <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        {% for space in spaces_list %}
          <li><a href="{% url 'shared-item-list' space.id %}">{{ space.name }}</a></li>
        {% endfor %}
        <li><a href="{% url 'shareuser-update' %}">Edit Profile</a></li>
        <li><a href="{% url 'spaces-add' %}">Add New Space</a></li>
      </ul>
      <ul class="side-nav" id="mobile">
        {% for space in spaces_list %}
          <li><a href="{% url 'shared-item-list' space.id %}">{{ space.name }}</a></li>
        {% endfor %}
        <li><a href="{% url 'shareuser-update' %}">Edit Profile</a></li>
        <li><a href="{% url 'spaces-add' %}">Add New Space</a></li>
      </ul>
    </div>
  </nav>

  <script type="text/javascript">
  $(document).ready(function() {
    $(".button-collapse").sideNav();
  });
  </script>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
{% endblock %}
